<div class="col-md-2 col-md-offset-4 enter-position">
	<div class="panel panel-primary panel-transparent">
		<div class="panel-body">
			<a href="#disclaimer-modal" data-toggle="modal" data-target="#register-modal">
				<p class="enter">Enter<p>
			</a>
		</div><!-- close panel-body -->
	</div><!-- close panel -->
</div><!-- close col-md-2 -->

<!-- Modal -->
<div id="register-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content panel panel-primary panel-transparent">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Notice</h4>
      </div>
      <div class="modal-body">
        <p class="text">Money exchanged in legal personal services for this appointment is simply for time, companionship, and coaching. Nothing else is ever offered nor implied. Anything that may or may not occur is a matter of personal choice and personal preferences between two or more consenting adults of legal age and is not contracted for, nor is it requested to be contracted for in any manner. This is not an offer of prostitution and no fees will ever be accepted for illegal activity. I do reserve the right to decline appointments as I deem necessary.</p>
        <p class="text">
Legal Notice: With reference to CA Penal Code section 647(b) and CALJIC No. 16.420, the services discussed herein do not in any way include or relate to either: (1) engagement in any lewd act for money or other consideration, or (2) Solicitation, offer, or agreement to engage in any lewd act for money or other consideration.

BY ENTERING SITE YOU AGREE TO THE TERMS OF THIS DISCLAIMER</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Enter</button>
      </div>
    </div>

  </div>
</div>
