<div class="col-md-2 col-md-offset-4 enter-position">
	<div class="panel panel-primary panel-transparent">
		<div class="panel-body">
			<a href="#disclaimer-modal" data-toggle="modal" data-target="#register-modal">
				<p class="enter">Enter<p>
			</a>
		</div><!-- close panel-body -->
	</div><!-- close panel -->
</div><!-- close col-md-2 -->

<!-- Modal -->
<div id="register-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
