<div class="col-md-2 col-md-offset-4 enter-position">
	<div class="panel panel-primary panel-transparent">
		<div class="panel-body">
			<p class="enter">Enter<p>
		</div><!-- close panel-body -->
	</div><!-- close panel -->
</div>


