
<h2>About Me</h2>
<p class="text">The best way to describe me is as a warm companion on your journey, and as a present, caring care giver. Feminine but with an edge, I am 5’7”, 160 lbs, curvy body, with plenty of body art, long dark hair and hazel eyes. My figure and overall health come from a regime including boxing, cross-training, spinning, hiking, and lifting weights.</p>

<h2>About our time together</h2>
<p class="text">You will experience a richly nourishing environment, a powerfully intuitive guide, and a pleasurable and supportive space.  I encourage you to be curious... especially about yourself. I invite you to ask questions and engage me in conversation about sexuality, intimacy, relationships, even personal growth, if so inclined.  You can expect my full attention to the needs of your body, your mind and your spirit. You can expect exquisite touch, intelligent conversation, water and tea, chocolates, lovely music, candles, sweet smells ...all designed to nourish you. I will be dressed in a beautiful and erotic manner, and my underwear will remain on throughout the duration of our session.
</p>