<div class="col-md-6 col-md-offset-3">
	<div class="panel panel-primary panel-transparent">
		<div class="panel-heading">
			<h2 class="panel-heading">Sessions</h2>
		</div>
		<div class="panel-body">
			<h3>Sessions can include:</h3>
			<ul>
				<li>deep compassionate conversation</li>
				<li>massage & body work</li>
				<li>full body-to-body flowing touch*</li>
				<li>energy work</li>
				<li>sexual release</li>
			</ul>

			<p class="note">(Mutual touch available only with regular clients who I have established a rapport with.)<p>

			<h3>Sessions will not include:</h3>
			<ul>
			<li>Me being nude or the touching of my genitals or breasts</li>
			</ul>

			<p class="text">My retreat space is located in a safe, private artists community in Berkeley. It is easily accessible via major highways and offers plenty of free street parking. For your convenience, a shower and fresh towel will be available</p>

			<p class="text">I share this work with men and women of all genders and sexual preferences.</p>
		</div><!-- close panel-body -->
	</div><!-- close panel -->
</div><!-- close col-md-6 -->


