<div class="col-md-6 col-md-offset-3">	
	<div class="panel panel-primary panel-transparent">
		<div class="panel-body">
			<h2 class="panel-heading">Welcome</h2>
			<p class="text">Welcome to my realm of services created 
			intuitively and uniquely for the exploration of your 
			sensual evolution and intimacy.  I am located in the 
			San Francisco Bay Area (Berkeley)</p>
			<p class="text">New Guests, I invite you to :</p>
			<ul>
				<li>Visit my About pages to learn more about me and our time together</li>
				<li>Check out Sessions to learn more about the experience</li>
				<li>Go to Bookings to schedule a session</li>
				<li>Read through my FAQ to have your basic questions answered</li>
			</ul>
		<div><!-- close panel body -->
	</div><!-- close panel/ -->
</div><!-- close col-md-6 -->			