/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
body {
	background-image: url("/imgs/bfly.jpg");
	background-size: cover;
	background-color: #123318;
}

.panel-transparent {
	background: none;
}

.panel-solid {
	background-color: black;
}

.panel-transparent .panel-heading{
	background: rgba(10, 10, 10, 0.7)!important;
}

.panel-transparent .panel-body{
	background: rgba(5, 5, 5, 0.7)!important;
}

.enter {
	padding: 0;
	margin: auto;
	font-size: 1.5em;
	font-family: 'Poiret One';
	color:#C2B9AF;
}

.enter-position {
	margin-top: 4em;
}

h1 {
	font-family: 'Great Vibes';
	/*color: #C7383A;*/
	color: #FF0033;
	font-size: 3.5em;
	margin: 20px;
}

h2 {
	font-family: 'Poiret One';
	color: #78A384;
}

h3 {
	font-family: 'Poiret One';
	color:#C2B9AF;
}

h4 {
	font-family: 'Poiret One';
	color:#C2B9AF;
}

ul {
	font-family: 'Poiret One';
	color:#C2B9AF;
}

th {
	color: #C2B9AF;
}

.field {
	font-family: 'Poiret One';
	font-weight: bold;
	color: #78A384;
}

.note {
	font-style: italic;
	font-family: 'Poiret One';
	color:#C2B9AF;
}

.master-nav {
	font-family: 'Poiret One';
}

.container {
 	margin: 5px;
}

.mid-container {
	width: 50%;
	margin: auto;
}

.text {
	font-family: 'Poiret One';
	color:#C2B9AF;
}

p {
	font-family: 'Poiret One';
	color:#C2B9AF;
}

